# Virtual environment directories 
# (just in case, Fluvel is managed through Poetry)
venv/
.venv/

# IDEs
.vscode/
.vs/
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pytest_cache/

# Log files
*.log

# Temporary or generated data files
.fluvel/
.temp/
temp/
.ruff_cache/
*.env
.env.local
dist/
build/
README.pypi.md

# In progress
docs/rst